<a href="https://colab.research.google.com/github/mkmahto2/summerintership_goeduhub/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Assignment/Task 3***

# ***GO_STD_GO_STP_9639***

# ***Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value***

In [ ]:
import operator

d = {0:1, 2:4, 1:5, 3:6}

sorted_d = sorted(d.items(), key=operator.itemgetter(1))

print(sorted_d)

sorted_d = sorted(d.items(), key=operator.itemgetter(1),reverse=True)

print(sorted_d)

[(0, 1), (2, 4), (1, 5), (3, 6)]
[(3, 6), (1, 5), (2, 4), (0, 1)]

# Q.2 Write a Python Program to add a key to a dictionary.
# Sample Dictionary : {0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
d = {0:10, 1:20}
print("Sample Dictionary" ,d)
d.update({2:30})
print("Expected Result" ,d)

Sample Dictionary {0: 10, 1: 20}
Expected Result {0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
city_temp = {"Nawabshah" : 48, "Karachi" : 39, "Murree" : 16, "Auckland" : 22}
print(city_temp['Karachi'])

39

# *Q. 4 Write a Python program to convert list to list of dictionaries.*

In [ ]:
color_name = ["Black","Red","Maroon","Yellow"]
color_code = ["#000000","#FF0000","#800000","#FFFF00"]

print([{'color_name' : f, 'color_code' : c } for f, c in zip(color_name,color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

In [ ]:
emp_sal = {"John" : 14, "Smith" : 13, "Alice" : 32 , "Daniel" : 21}

In [ ]:
user_input= input("Enter your choice :print/add/remove/query:")
if user_input=='print':
 print('John==>14')
 print('Smith==>13')
 print('Alice==>32')
 print('Daneil==>21')
elif user_input=='add':
 emp= input("Enter the name of the Employee to be added :")
 if emp in emp_sal.keys():
  print("Employee name already exists")
 else:
  sal=input(f"Enter the salary of {emp}")
  emp_sal.update({emp:sal})
  print(emp_sal)
elif user_input=='remove':
 name= input("Enter the name to be removed: ")
 if name in emp_sal:
  emp_sal.pop(name)
  print(emp_sal)
 else:
  print("Employee doesn't exist")
elif user_input=='query':
  employee= input("Enter the name of the employee you want to query")
  if employee in emp_sal.keys():
    print(f"The salary is ->{emp_sal[employee]}")
  else:
    print("The employee does not exist")

Enter your choice :print/add/remove/query:query
Enter the name of the employee you want to querySam
The employee does not exist

Q.1 What is the difference between a set and a frozenset? Create any set and try to use
frozenset(setname).

Ans.Frozen set is just an immutable version of a Python set object. While elements of a set can
be modied at any time, elements of the frozen set remain the same after creation. Due to this,
frozen sets can be used as keys in Dictionary or as elements of another set.

In [ ]:
x = set("Sanaullah Aman")
print(x)
print(type(x))

{' ', 'l', 'u', 'A', 'm', 'a', 'n', 'S', 'h'}
<class 'set'>

In [ ]:
frozenset(x)
print(x)

{' ', 'l', 'u', 'A', 'm', 'a', 'n', 'S', 'h'}

Q.2 Find the elements in a given set that are not in another set
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
Difference between set1 and set2 is {10,20,30}

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
set_differece = set1.difference(set2)

print(set_differece)

{10, 20, 30}